# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.*

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db