* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  background-color: #0f172a; /* Fundo principal escuro */
  color: #f8fafc; /* Texto claro padrão */
  font-family: 'Inter', sans-serif;
}